@{
    ViewBag.Title = "NotFound";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- NEW COL START -->
<article class="col-sm-12 col-md-12 col-lg-6" style="float: none; margin: 5px auto;">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

        <header>

            <h2>Not Found! </h2>

        </header>

        <!-- widget div-->
        <div>


            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">
                <fieldset>
                    <section>
                       <h4>Sorry, the page you requested does not exist</h4> 
                    </section>
                </fieldset>
            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</article>
